<div class="announcement">
  <div class="content header-container">
    <div class="navigation-buttons">
      <button class="prev">
        <fa-icon
          [icon]="'faAngleLeft' | convertStringLabelToFontawesomeIcon"
        ></fa-icon>
      </button>
      <button class="next">
        <fa-icon
          [icon]="'faAngleRight' | convertStringLabelToFontawesomeIcon"
        ></fa-icon>
      </button>
    </div>
  
    <div class="messages">
      <p>message bonjour c'est le premier essaie ici donc ca sera cool</p>
    </div>
  
    <button class="close">
      <fa-icon
        [icon]="'faXmark' | convertStringLabelToFontawesomeIcon"
      ></fa-icon>
    </button>
  </div>

</div>
