<div class="announcement">
  <div class="left">
    <div class="message-navigation">
      <button class="btn-prev-message">
        <fa-icon
          [icon]="'faAngleLeft' | convertStringLabelToFontawesomeIcon"
        ></fa-icon>
      </button>
      <button class="btn-next-message">
        <fa-icon
          [icon]="'faAngleRight' | convertStringLabelToFontawesomeIcon"
        ></fa-icon>
      </button>
    </div>
  </div>

  <div class="messages">
    <p>message bonjour c'est le premier essaie ici donc ca sera cool</p>
  </div>

  <div class="right">
    <button>
      <fa-icon
        [icon]="'faXmark' | convertStringLabelToFontawesomeIcon"
      ></fa-icon>
    </button>
  </div>
</div>
