@import url("./variables.scss");

*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--projet-black-primary-color);
    background-color: var(--project-white-primary-color);
  }

  .header-container{
    max-width: 1400px;
    padding: 0 1rem;
  }

  .my-container{
    max-width: 1300px;
    padding: 0 1rem;
  }
  
  ul, ol {
    list-style: none;
  }
  
  
 /*
  img, video {
    max-width: 100%;
    height: auto;
    display: block;
  }
 
  button, 
  input, 
  textarea, 
  select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
    
  }
    */

  a {
    text-decoration: none;
    color: inherit;
  }
  
  
/*
  button:focus-visible, a:focus-visible, input:focus-visible {
    outline: 2px solid #007bff;
    outline-offset: 2px;
  }
*/
 
 
  